@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  --bs-gutter-x:0 !important;
  --bs-gutter-y:0 !important;
  font-family:"Poppins";
}

.container
{
  padding:0 15px;
}

.btn-primary
{
  background-color:#58CCED;
  border: 0;
}
.btn-primary:hover
{
  background-color:#3895D3;
}

form
{
  inline-size: fit-content;
}
.navbar-collapse
{
  justify-content: space-between;
}

table {
  counter-reset: tableCount;     
}
.counterCell:before {              
  content: counter(tableCount); 
  counter-increment: tableCount; 
}
nav *
{
  text-decoration:none;
  color: #000 !important;
}
.pagination
{
    display: flex;
    width: 100%;
    justify-content: center;
}
table button
{
  min-width: 75px;
  margin: 3px;
}